body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px; /* Ajusta la altura del jumbotron si es necesario */
    width: 60%; /* Ajusta el ancho del jumbotron (puedes cambiar el valor según sea necesario) */
    margin: 20px auto; /* Centra el jumbotron horizontalmente y añade margen vertical */
    padding: 20px; /* Añade un poco de padding para mejorar el espacio interior */
    background-color: #f8f9fa; /* Color de fondo claro para el jumbotron */
    border-radius: 8px; /* Bordes redondeados para mejorar el diseño */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para darle un poco de profundidad */
}

#frase {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn-verdadero, .btn-falso {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    color: white;
    cursor: pointer;
    margin: 5px;
}

.btn-verdadero {
    background-color: #66BB6A; /* Verde claro */
}

.btn-falso {
    background-color: #F44336; /* Rojo coral */
}

.btn-verdadero:hover {
    background-color: #388E3C; /* Verde oscuro */
}

.btn-falso:hover {
    background-color: #D32F2F; /* Rojo más oscuro */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
